<h1>BIKES! BIKES! BIKES!</h1>
<h2>Bikes and bike accessories in Berlin.</h2>
<div class="fluid-container info-box">
  <h3>Thank you for visiting BIKES! BIKES! BIKES! We sell a variety of bikes and bikes and bikes and bikes and bikes. We also sell bike accessories. Do you want a bike? You're in the right place. Do you need bike accessories??? You're in the right place!!!</h2>
</div>
<div class="fluid-cointainer image-box">
  <%= image_tag("racingbikeyellow.svg", class: "img-responsive") %>
</div>
<div class="fluid-container info-box">
 <h3>Get on a bike and bike. Bike over. Bike under. Bike until you drop. Bike bike bike. Bike it with your bike until you've biked and biked and biked. You're gonna need a bike for that.</h3>
 </div>