<h1>BIKES! BIKES! BIKES!</h1>
<h2>Your source for used bikes in Berlin.</h2>
<div class="img-responsive image-box">
  <%= image_tag("racingbikeblack.svg", class: "img-responsive big-image") %>
</div>
<div class="fluid-container info-box">
  <h3> If you are looking for a bike you are in the right place! Let us help you onto a bike. Bike home today on a bike. A bike is a bike is a bike but the best bikes are right here.</h3>
</div>