<h2>Thank You!!!</h2>
<div class="info-box">
    <h4>Thank you. We have received your message and will respond as soon as possible.</h4>
    <%= link_to 'Back', simple_pages_contact_path, class:"btn btn-outline-secondary" %>
</div>
