<table>
  <tbody>
    <tr>
      <td><h2>Thank you for choosing Bikes x3!!!</h2></td>
    </tr>
    <tr>
      <td><p>Your order has been placed. </p></td>
    </tr>
    <tr>
    <td><p>You ordered: <%= @product.name %></p>
    <p>Total price: <%= number_to_currency(@product.price) %></td>
    </tr>
    <tr>
      <td><p>Your order will be processed shortly. Bike on friend!</p>
      </td>
    </tr>
    <tr>
      <td><p><strong>- Bikes x3</strong></p></td>
    </tr>
  </tbody>
</table>