<table>
  <tbody>
    <tr>
      <td><h2>Thank you for choosing Bikes x3!!!</h2></td>
    </tr>
    <tr>
      <td><p>Your order with <% @appname %> has been placed. </p></td>
    </tr>
    <tr>
    <td><p>You ordered: <%= @product.name %></p>
    <p>Total price: <%= @product.price %></td>
    </tr>
    <tr>
      <td><p>Your order will be processed shortly. Bike on friend!</p>
      </td>
    </tr>
    <tr>
      <td><p><strong>Your <% @appname %> Team!</strong></p></td>
    </tr>
  </tbody>
</table>