<table>
  <tbody>
    <tr>
      <td><h2>Welcome to Bikes x3!!!</h2></td>
    </tr>
    <tr>
      <td><p>Thank you for creating an account with <% @appname %>.</p></td>
    </tr>
    <tr>
      <td><p>We look forward to helping you with all of your Bike needs. Bike on friend!</p>
      </td>
    </tr>
    <tr>
      <td><p><strong>Your <% @appname %> Team!</strong></p></td>
    </tr>
  </tbody>
</table>