<h1> BIKES! BIKES! BIKES!</h1>
<h2>Orders</h2>
<div class="container-fluid info-box">
  <div class="row">
    <% @orders.each do |order| %>
      <div class="col-md-4">
        <h3>Order # <%= order.id %>:</h3>         
        <h4><%= link_to order.product.name, order %></h4>
        <h5><%= order.product.description %></h5>
        <h5><%= number_to_currency(order.product.price) %></h5>
        
      </div><!-- /col -->
    <% end %>
  </div>
</div>