// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-box {
  padding: 10px;
}

.product-holder {
  border: solid 2px #999;
  border-radius: 10px;
  padding: 20px;
}

.product-holder img {
  width: 90%;
  min-height: 20px;
  display: block;
  margin: auto 5px;
}

.product-holder h3 {
  text-align: center;
}
