// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

body {
  color: #222;
  position: relative;
  background-color: #e6ecf0;
}

h1 {
  font-family: futura, helvetica, sans-serif;
  color: black;
  text-align: center;
  background-color: #e6ecf0;;
  margin: 0;
  letter-spacing: 3px;
  padding: 5px;
}

h2 {
  color: #fff;
  text-align: center;
  background-color: #5c5c5c;
  border: 4px solid #a9a9a9;
  margin: 0 auto 20px auto;
  letter-spacing: .1em;
  padding: 10px;
  border-radius: 15px;
  width: 85%;
  max-width: 800px;
  margin-top: 20px;
}

p {
  text-align: left;
}

i {
  color: #555;
}

form {
  max-width: 900px;
}

.contact-holder button {
  margin-top: 20px;
  margin-bottom: 10px;
}

.big-image {
  width: 90%;
  margin: 75px auto;
  display: block; 
}

a {
  color: #fff;
  font-family: futura;
  transition-duration: 500ms;
}

a:hover {
  color: #3e82b4;
}

.nav-item {
  padding-left: 10px;
}

.navbar {
  background-color: black;
}

a.navbar-brand img {
  width: 50px;
  padding-left: 20px;
  margin: 0;
}

.navbar-brand {
  font-family: futura, helvetica, sans-serif;
  text-transform: uppercase;
}

.navbar .navbar-default .navbar-toggler {
  color: #fff;
}

.content-wrapper {
  padding: 55px 0;
}

.footer {
  background-color: black;
  color: #bbb;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 45px;
  justify-content: left;
  align-items: center;
}

.footer p {
  margin: 0;
  padding-left: 20px;
  font-family: Futura, helvetica, sans-serif;
  text-transform: uppercase;
  float: left;
}

.footerbikeholder {
  height: 45px;
  width: 100%;
}

.footer img {
  height: 20px;
  margin: 0; 
}

.contact-holder {
  margin: 30px auto 20px auto;
  max-width: 800px;
  border-radius: 10px;
  border: 2px solid #999;
}

.flex img {
  display: inline-block;
  width: 40px;
  float: left;
  margin-right: 10px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: left;
  
}

.flex h4 {
  margin: 0;
}

.info-box, .image-box {
  width: 75%;
  margin: 50px auto;
  max-width: 800px;
}

.image-box img {
  width: 100%;
  margin: 10px auto;
  padding: 20px;
}

.image-box {
  border-radius: 20px;
  border: 4px solid #555;
  background-color: #AAAAAA;
}

.carousel {
  margin: 30px;
}

.carousel-caption {
  color: #111;
}

.carousel-item {
  width: 80%;
  margin: 0 auto;
}

.btn {
  margin: 5px;
}

.alert {
  padding: 5px;
  margin: 60px auto 0 auto;
  max-width: 500px;
}

.alert p {
  margin: 0;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-container p {
  margin: 0;
}

.rated {
  margin-left: 5px;
}

.reviews {
  margin-top: 40px;
}

.review_box {
  width: 90%;
}

.review_button {
  margin-top: 10px;
}

.pagination a,
.current,
.disabled {
  margin: 3px;
  border: solid 1px #777;
  padding: 3px 5px;
  color: #999;
  border-radius: 5px;
}

.new_comment {
  margin-top: 20px;
}

.new_comment h4 {
  margin: 0;
}