<% if signed_in? %>
<div class="col">
  <h4>Add a review:</h4>
  <%= form_for([@product, @product.comments.build]) do |f| %>
  
    <%= f.label :body, "Comments" %><br>
    <%= f.text_area :body %>
    <div class="rating"></div>
    <%= f.submit "Submit" %>
    </div>
  
  <% end %>
<% end %>
</div>